GHOSTSHIFT_PORT=4321
GHOSTSHIFT_LEDGER_MODE=mock
GHOSTSHIFT_CHAIN_NAME=casper-test
GHOSTSHIFT_RPC_URL=https://rpc.testnet.casperlabs.io/rpc
GHOSTSHIFT_SECRET_KEY_PATH=
GHOSTSHIFT_LEDGER_CONTRACT_HASH=
GHOSTSHIFT_LEDGER_WASM_PATH=contracts/ghostshift-ledger/target/wasm32-unknown-unknown/release/ghostshift_ledger.wasm
